*{
    font-size: 20px;
}


body{
    background-image: url(../image/New_web/New_web/materials/gallery-01.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    overflow-x: hidden;
    text-align: center;
}

nav {
    position: relative;
    top:-2vh;
    left:-2vw;
}

nav ul {
    display:inline-flex;
    position: relative;
    width: 100vw;
    margin: 1.5vw;

}

nav ul li{
    list-style: none;
    position: relative;
    left: 56vw;
    text-align: center;
    border-radius: 50%;
    height: 5vh;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
    font-weight: 600;
    margin: 2vw;
    
}

li a:hover {
    color: aliceblue;
    transition: 0.4s ease;
}

section{
    text-align: justify;
    display: inline-flex;
    width: 90vw;
    flex-wrap: wrap;
    color: black;
}

section .section{
    width: 40vw;
    margin: 1vw;
    padding: 1vw;
    background-color:aliceblue;
    box-shadow: cadetblue;
    border: 0.5vw solid black;
    border-radius: 10%;
}


#logo img{
  display: block;
  position: relative;
  left:42%;
  width: 15%;
  border: 2px solid black;	
}

.class{
	font-family: Arial;
}

.class h2{
	
}

.class p{
	
}

#teamPicture img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;		
}




