*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../image/New_web/New_web/materials/gallery-01.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    color: white;
    display: block;
    height: 100vh;
    width: 100vw;
}
#loading{
    position: fixed;
	width: 100%;
	height: 100%;
	background: white url("../image/New_web/New_web/materials/loading-01.png") no-repeat center center;
	top: 0;
	left: 0;
    transition: all 0.5s ease;
    z-index: 1;
}

nav {
    position: relative;
    top:-2vh;
    left:-2vw;
}

nav ul {
    display:inline-flex;
    position: relative;
    width: 100vw;
    margin: 1.5vw;

}

nav ul li{
    list-style: none;
    position: relative;
    left: 56vw;
    text-align: center;
    border-radius: 50%;
    height: 5vh;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
    font-weight: 600;
    margin: 2vw;
    
}


.banner{
    position: relative;
    border-radius: 0%;
    left:-1vw;
    top:-1vh;
    width: 8vw;
    height:6vh;
}

.banner img{
    width: 100%;
    height: 100%;
}

.profile{
    position: relative;
    border-radius: 0%;
    left:55vw;
    top:-1vh;
    width: 3.5vw;
    height:6vh;
}

.profile img{
    width: 100%;
    height: 100%;
}

li a:hover {
    color: aliceblue;
    transition: 0.4s ease;
}

h1{
    text-align: center;
    font-size: 3vw;
}
div{
    margin-top:2vh;
    text-align: center;
}

section{
    text-align: center;
}

p{
    font-size: 1.5vw;
}


#mode-selection button,#character-selection button, #ready-selection button{
    width: 6vw;
    height: 6vh;
    margin: 3vw;
    font-size: 1vw;
    background-color: transparent;
    border:2px solid white;
    border-radius: 10%;
    color: white;
}

#back-to{
    width: 8vw;
}

#mode-selection{
    width: 100vw;
    height: 80vh;
    position: relative;
}

#mode-selection #mode{
    display: inline-flex;
    text-align: center;
    position: relative;
}

#mode-selection #mode div{
    margin:8vw;
}

.content{
    position: relative;
    left:6vw;
    width: 4.5vw;
    height:20vh;
    top:-2vh
}

.frame{
    position: relative;
    right:3vw;
    z-index:-1;
    width: 26vh;
    height: 26vh;
}

#character-selection{
    height: 80vh;
    width: 100vw;
    text-align: center;
}

#character-selection #character{
    display: inline-flex;
    position: relative;
    width: 90%;
    height: 80%;
}

#character-selection #character div{
    position: relative;
    top:10vh;
    left:10vw;
    margin: 1vw;
}

#character-selection img{
    width: 22vh;
    height: 22vh;
}
#character-selection .content{
    position: relative;
    left:4vw;
    top:-0vh;
}

#character-selection .frame{
    position: relative;
    right:6vw;
}

#character-selection #back-to{
    position: relative;
    right:35%;
    top:80%;
}


#vehicle-selection #vehicle{
    display: inline-flex;
    position: relative;
    margin-left: 7vw;
    left: 20vw;
}

#vehicle-selection #vehicle div{
    margin:7vw;
}

#vehicle-selection img{ 
    width: 22vw;
    height: 22vh;

}

#ready-selection{
    width: 100vw;
    height: 80vh;
    position: relative;
    display: block;
    text-align: center;
}

#ready-selection #ready-description {
    position: relative;
    top:10vh;
    left:34vw;
    display: block;
    width: 30vw;
}

#ready-selection #ready-description p,em{
    font-size: 4vh;
}

#ready-selection #ready{
    display: inline-flex;
    position: relative;
    margin: 7vw;
    top:7vh;
}

#ready-selection button{
    width: 12vw;
    height: 5vw;
    padding: 1vh;
    font-size: 1.5vw;
    
}

#game-board {
    width: 100vw;
    height: 80vh;
    position: relative;
    display: block;
    text-align: center;
    color: black;
}

#map {
    background-image: url(../image/New_web/New_web/materials/game_map-01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-flex;
    position: relative;
    margin: 3vw;
    width: 70vw;
    height: 72vh;
    top: -3vh;
}

#map a {
    width: 4vw;
    height: 2.5vw; 
}

#map a:hover{
    transform: scale(1.1);
    transition: 0.4s ease;
}

#map img{
    width: 6vw;
    height: 8vh;
}
   
#map .checktrigger {
    position: relative;
    left:37vw;
    top:23vh;
    z-index: 999;
}

#map .checktrigger-2 {
    position: relative;
    left:9vw;
    top:36vh;
    z-index: 999;
}

#map .checktrigger-3 {
    position: relative;
    left:35vw;
    top:53vh;
    z-index: 999;
}

#map #characterInstance {
    position: absolute;
    left:34.5vw;
    top:22vh;
    z-index: 2;
}

#map #character2Instance {
    position: absolute;
    left:12vw;
    top:34vh;
    z-index: 2;
}

#map #character3Instance {
    position: absolute;
    left:42vw;
    top:50vh;
    z-index: 2;
}

#map #medalTask1{
    position: absolute;
    left:38.5vw;
    top:24vh;
    z-index: 999;
}

#map #nomedalTask1{
    position: absolute;
    left:38.5vw;
    top:24vh;
    z-index: 999;
}

#medalTask1{
    width: 10vw;
    height: 14vh;
}

#nomedalTask1{
    width: 10vw;
    height: 14vh;
}

/* Popup box For Commander's Task */
.missionstart1{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.missionstart1 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.mission_1 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.missionstart1 > #taskscreen {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 1000px;
    min-height: 250px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
    color: black;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    color:black;
}
.popupCloseButton:hover {
    background-color: #ccc;
}

.checktrigger {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

/* Popup box For Submission's Task */
.mission_1{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.mission_1 .helper11{
    display:inline-block;
    position:fixed;
    top:50vh;
    height:100%;
    vertical-align:middle;
}
.mission_1 > #mission_1_taskscreen {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 1000px;
    min-height: 250px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}


#medal-selection{
    display: flex;
	justify-content: center;
}

.imgContainer{    
    width: 30%;
    padding:10px;
}

.imgContainer img{
    height: 15vh;
    width: 12vw;
}

.imgContainer:hover {
	transform: scale(1.3);
}

.answer_1{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14px;
}

#resultsimage_1{
    width: 30%;
    padding:10px;
}

#resultsimage_2{
    width: 30%;
    padding:10px;
}

#selection-results{
    display: flexbox;
}

/* Popup box For Commander's Task 2 */
.missionstart2{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.missionstart2 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.mission_2 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.missionstart2 > #taskscreen2 {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 1000px;
    min-height: 250px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton2 {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton2:hover {
    background-color: #ccc;
}

.checktrigger {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

/* Popup box For Submission's Task 2 */
.mission_2{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

.mission_2 > #mission_2_taskscreen {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 1000px;
    min-height: 250px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

#medal-selection2{
    display: flex;
	justify-content: center;
}

/*Zoom the Medal on Hover*/
.imgContainer2{    
    width: 30%;
    padding:10px;
	transition: transform .5s; /* Animation */
}

.imgContainer2 img{
    height: 15vh;
    width: 12vw;
}

.imgContainer2:hover {
	transform: scale(1.3);
}

.medalsLegend2{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14px;
}

#resultsimage_1_2{
    width: 30%;
    padding:10px;
}

#resultsimage_2_2{
    width: 30%;
    padding:10px;
}

#selection-results2{
    display: flexbox;
}

#map #medalTask2{
    position: absolute;
    left:16vw;
    top:34vh;
    z-index: 999;
}

#map #nomedalTask2{
    position: absolute;
    left:16vw;
    top:34vh;
    z-index: 999;
}

#medalTask2{
    width: 10vw;
    height: 14vh;
}

#nomedalTask2{
    width: 10vw;
    height: 14vh;
}


/* Popup box For Commander's Task 3 */
.missionstart3{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

.missionstart3 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.mission_3 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.missionstart3 > #taskscreen3 {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 1000px;
    min-height: 250px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton3 {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton3:hover {
    background-color: #ccc;
}

.checktrigger {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

/* Popup box For Submission's Task 3 */
.mission_3{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

.mission_3 > #mission_3_taskscreen {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 1000px;
    min-height: 250px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

#medal-selection3{
    display: flex;
	justify-content: center;
}

/*Zoom the Medal on Hover*/
.imgContainer3{    
    width: 30%;
    padding:10px;
	transition: transform .5s; /* Animation */
}

.imgContainer3 img{
    height: 15vh;
    width: 12vw;
}

.imgContainer3:hover {
	transform: scale(1.3);
}

.medalsLegend3{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14px;
}

#resultsimage_1_3{
    width: 30%;
    padding:10px;
}

#resultsimage_2_3{
    width: 30%;
    padding:10px;
}

#selection-results3{
    display: flexbox;
}


#map #medalTask3{
    position: absolute;
    left:46vw;
    top:51vh;
    z-index: 999;
}

#map #nomedalTask3{
    position: absolute;
    left:46vw;
    top:51vh;
    z-index: 999;
}

#medalTask3{
    width: 10vw;
    height: 14vh;
}

#nomedalTask3{
    width: 10vw;
    height: 14vh;
}

